* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #a54946;
    border-radius: 8px;
}
.counter_Item {
    width: 60px;
    height: 50px;
    border: none;
    color: #a54946;
    font-size: 26px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    text-align: center;
}
.decrease {
    border-radius: 8px 0px 0px 8px;
}
.increase {
    border-radius: 0px 8px 8px 0px;
}
.counter_Item:focus,
.counter_Item:hover {
    background-color: #a54946;
    color: white;
}
.counter_value_input {
    width: 60px;
    height: 50px;
    border: none;
    color: #a54946;
    font-weight: bold;
    padding: 0 5px;
    font-size: 18px;
    background-color: #f8e9e9;
    outline: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.counter_value_div {
    margin-top: 10px;
    font-size: 14px;
}
