* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.counter {
    display: flex;
    border: 2px solid #a54946;
    border-radius: 8px;
}

.counter_Item {
    width: 60px;
    height: 50px;
    border: none;
    color: #a54946;
    font-size: 26px;
    cursor: pointer;
    border-radius: 8px;
}
.decrease {
    border-radius: 8px 0px 0px 8px;
}
.increase {
    border-radius: 0px 8px 8px 0px;
}
.counter_Item:focus,
.counter_Item:hover {
    background-color: #a54946;
    color: white;
}
.counter_value_input {
    width: 60px;
    height: 50px;
    border: none;
    color: #a54946;
    font-weight: bold;
    padding: 0 5px;
    font-size: 16px;
    background-color: #f8e9e9;
    outline: none;
}
